
@{
    ViewBag.Title = "SelfDecl";
}

<div class="container" style="">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div style="font-size:18px;font-weight:bold;text-align:left;padding-top:30px;">Thank you for your interest.</div>
        <div class="onlinetext" style="text-align:left;">
            <br />
            Our team will assess your information and upon eligibility confirmation, we will be in contact with you to provide you with further details as required.<br /><br />

            If you have any queries, please write to us at xxxxxxxx.<br /><br />
            <form method="post">
                <fieldset>
                   
                </fieldset>
            </form>

        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>

